.ag-evento{
  padding: 300px;
}

.tevento {
background-color: #817e7e;
padding: 10px;
}

.eventobranco{
 background-color: #f0e3e3;

}
.eventopreto{
 background-color: #171616;

}
.icoevento{
width: 75px;
height: 75px;
}
/*
.titulo{
 margin: 0;
    
    
}*/
