.ag-evento{
padding-bottom: 50px;
}
.ag-teventoa {
    background-color: #93432c;
    padding: 10px;
/*
    border-left-style: solid;
    border-left-color: #3a3a8b;
    border-left-width: 20px;
*/
}

.ag-eventoa {
    background-color: #f0d29f;

}
.ag-icone img{
    width: 100%;
    height: 100%;
    transition: all .3s;
}



.ag-icone img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.ag-teventob {
    background-color: #d78d37;
    padding: 10px;
/*
    border-left-style: solid;
    border-left-color: #d78d37;
    border-left-width: 20px;
*/
}

.ag-eventob {
    background-color: #f0d29f;
}

.ag-titulo {
    margin: 0;
    height: 40px;
    text-align: left;
    letter-spacing: normal;
    font-size: 1.9em;
}

.ag-evento {
    margin: 10px;
}

.ag-pevento1 {
    font-size: 1.5em;
    text-align: left;
    padding-top: 12px;
    height: 60px;
    border-bottom-style: solid;
    border-bottom-color: #9a9a9a;
    border-bottom-width: 0.5px;
}

.ag-pevento2 {
    font-size: 1.5em;
     text-align: left;
    padding-top: 5px;
    height: 60px;
    border-bottom-style: solid;
    border-bottom-color: #9a9a9a;
    border-bottom-width: 0.5px;
}

.ag-pevento3 {
    font-size: 1.5em;
     text-align: left;
    padding-top: 10px;
    height: 70px;
}
