/* ********************************* **
* DICA:
* No brackets o atalho Alt+1 "retrai"
* todas as classes, facilitando a visão de todas elas
** ********************************* **/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    padding: 6rem 0;
    text-align: center;
}

.titulo {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 6rem;
    font-family: 'Bitter', serif;
    /*    text-transform: uppercase;*/
    font-variant: small-caps;
    /* -webkit-font-feature-settings: "smcp" 1;
    font-feature-settings: "smcp" 1; */
    letter-spacing: .3rem;
}

.sub-titulo {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.extra-space {
    /* usado pra casos específicos onde se QUER aplicar um espaçamento padrao */
    margin-bottom: 6rem;
}

.no-space {
    /* usado pra casos específicos onde não se quer o espaçamento padrao */
    margin-bottom: 0;
}

p {
    font-size: 1.7rem;
    line-height: 2.95rem;
    font-family: 'Slabo 27px', serif;
}

a {
    color: #00b1ff;
    text-decoration: none;
}

a:hover {
    color: #52caff;
    text-decoration: underline;
}

/* Desktop Only */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

/* Mobile Only */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.navbar-custom a {
    color: #ddd;
    text-decoration: none;
}

.navbar-custom a:hover {
    color: #fff;
}

.navbar-inverse {
    background-color: rgb(34, 34, 34);
    border-bottom: 0;
}

.navbar-brand {
    font-weight: normal;
    letter-spacing: 0;
}

.navbar-collapse {
    max-height: 100vh !important;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    width: 100%;
}

.mega-dropdown-menu .dropdown-header span {
    padding: 10px 0px !important;
    margin: 0;
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.mega-dropdown-menu .dropdown-header::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 4px;
    margin-right: 10px;
}

.mega-dropdown-menu>li>ul>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>ul>li:first-child {
    margin-top: 8px;
}

.mega-dropdown-menu>li>ul>li>ul>li>a {
    display: block;
    line-height: 3.5rem;
    font-size: 1.38rem;
    white-space: normal;
}

.mega-dropdown-menu>li>ul>li>ul>li>a::before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-right: 10px;
    margin-bottom: .3rem;
}

.drop-escola {
    padding: 0;
    margin: 0;
}

.dia-nav {
    float: right;
    color: #727272 !important;
}

@media (min-width: 768px) {
    /* Desktop */
    .mega-dropdown-menu .dropdown-header::before {
        margin-left: 10px;
    }
    .mega-dropdown-menu>li>ul>li>ul>li>a {
        line-height: 3.5rem;
        color: #222;
        padding-left: 10px;
    }
    .mega-dropdown-menu>li>ul>li>ul>li>a::before {
        background-color: #222;
    }
    .mega-dropdown-menu>li>ul>li>ul>li:hover>a {
        color: #222;
        background-color: #eee;
    }
}

@media (max-width: 768px) {
    /* mobile */
    .mega-dropdown-menu>li>ul>li>ul>li>a {
        line-height: 4.5rem;
    }
    .mega-dropdown-menu>li>ul>li>ul>li>a::before {
        background-color: #333;
    }
    .nav-hide {
        display: none;
    }
    .mega-dropdown-menu .dropdown-header span {
        cursor: pointer;
    }
}

@media (max-width: 991px) {
    .dia-nav {
        display: none;
    }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.inicio p {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}
.inicio p:last-child {
    font-size: 12pt;
}
.inicio p:first-child {
    font-size: 20pt;
    letter-spacing: 3pt;
}

.inicio .sub {
    padding-bottom: 18px;   
}

/* esse é um estilo padrão usado pela API de parallax */

.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
}

/* Divisores
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.divisor {
    height: 1px;
}

/* Escolas - PADRÕES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.escolas {
    background-color: #ebebeb;
}

.autor-destaque {
    margin: .5rem 0;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #bfbfbf;
    display: table;
    width: 100%;
    height: calc(100% - 1rem);
}

@media (min-width: 992px) {
    /* usado para ajustar a altura do autor 
    em destaque de acordo com o conteudo, apenas
    quando estão lado a lado */
    .escolas-individual {
        display: flex;
    }
}

@media (max-width: 991px) {
    /* Cria um tamanho fixo para
    quando não está mais dividindo espaço
    com o conteudo */
    .autor-destaque {
        height: 300px;
        display: block;
    }
    .autor-descricao {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.autor-descricao {
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    color: white;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 3rem 2rem;
}

.autor-descricao div {
    display: table;
    height: auto;
    margin: auto 0;
}

.autor-titulo {
    position: relative;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
    /* -moz-font-feature-settings: "smcp" 1; */
    /* font-feature-settings: "smcp" 1; */
    font-size: 27pt;
    margin-bottom: 20px;
}

.autor-titulo:after {
    content: '';
    position: absolute;
    left: 20%;
    bottom: -10px;
    width: 60%;
    height: 2px;
    background-color: #ededed;
}

.autor-texto {
    font-size: 14pt;
}

.materia {
    margin: .5rem 0;
    padding: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
    text-align: left;
}

.materia .titulo {
    margin: 1rem 0;
}

.materia-img {
    width: 20%;
    padding-right: 1rem;
    min-width: 120px;
    float: left;
}

.materia-img img {
    width: 100%;
}

@media (min-width: 992px) {
    .materia.right {
        text-align: right;
    }
    .materia-img.right {
        min-width: calc(120px - 1rem);
        float: right;
        padding-right: 0;
        margin-left: 1rem;
    }
}

/* Escolas - EXCLUSIVOS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.escola1 .person {
    background-image: url('https://images.unsplash.com/photo-1455758190477-ac7265bc8139?fit=crop&h=800&q=80');
}

.escola1 .materia-img {
    border-left: 4px solid #0EBEFF;
}

.escola1-navid::before {
    background-color: #0EBEFF;
}

.divisor.escola2 {
    background-color: #ff579e;
}

.escola2 .person {
    background-image: url('https://images.unsplash.com/photo-1485056850891-99e734b7083d?fit=crop&h=800&q=80');
}

.escola2 .materia-img {
    border-left: 4px solid #ff579e;
}

.escola2-navid::before {
    background-color: #ff579e;
}

.divisor.escola3 {
    background-color: #009688;
}

.escola3 .person {
    background-image: url('https://images.unsplash.com/photo-1485463969733-3b3853b9d1bc?fit=crop&h=800&q=80');
}

.escola3 .materia-img {
    border-left: 4px solid #009688;
}

.escola3-navid::before {
    background-color: #009688;
}

.divisor.escola4 {
    background-color: #FF9800;
}

.escola4 .person {
    background-image: url('https://images.unsplash.com/photo-1524109778675-a86c515079cb?fit=crop&h=800&q=80');
}

.escola4 .materia-img {
    border-left: 4px solid #FF9800;
}

.escola4-navid::before {
    background-color: #FF9800;
}

.divisor.escola5 {
    background-color: #0077ac;
}

.escola5 .person {
    background-image: url('https://images.unsplash.com/photo-1488862909749-5b4d9fea994c?fit=crop&h=800&q=80');
}

.escola5 .materia-img {
    border-left: 4px solid #0077ac;
}

.escola5-navid::before {
    background-color: #0077ac;
}

.divisor.escola6 {
    background-color: #db123a;
}

.escola6 .person {
    background-image: url('https://images.unsplash.com/photo-1507809796103-09a999870b99?fit=crop&h=800&q=80');
}

.escola6 .materia-img {
    border-left: 4px solid #db123a;
}

.escola6-navid::before {
    background-color: #db123a;
}

/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    background-color: #1a1a1a;
    padding: 25px 0 10px 0;
}

footer p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

/* isso é só pra criar uma linha "divisoria" no footer */

footer .texto:first-child::after {
    background: #555;
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
    width: 200px;
}

/* Pace Loading (API DE LOADING)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* This is a compiled file, you should be editing the file in the templates directory */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    /* COR DA PARRA DE LOADING */
    background: #00b1ff;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/*QuemSomos 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.SobrePortal {
    text-align: justify;
}

.SobrePortal::after {
    content: "";
    display: block;
    margin: 0 auto;
    bottom: 6rem;
    height: 0.3rem;
    background: #6d6d6d;
    width:100%;
    left: 0;
    margin-top: 30px;
}

.SobrePortal h1 {
    text-align: center;
    font-variant: small-caps;
}

.thumbnail {
    border-radius: 0px;
    text-align: center;
}

.caption p {
    text-align: justify;
    line-height: 3.75rem;
}

.thumbnail h1 {
    font-size: 2.7rem;
    font-weight: bold;
    font-family: 'Bitter', serif;
    font-variant: small-caps;

}

.thumbnail h1:after {
        content: "";
        display: block;
        margin: 0 auto;
        bottom: 6rem;
        height: 0.1rem;
        background: #e4e4e4;
        width: 4em;
        left: 0;
        margin-top: 30px;
}

.thumbnail h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    bottom: 6rem;
    height: 0.1rem;
    background: #dedede;
    width: 4em;
    left: 0;
    margin-top: 30px;
}


.thumbnail.escola1 {
    border-left: 4px solid #0EBEFF;
}

.thumbnail.escola2 {
    border-left: 4px solid #db123a;
}

.thumbnail.escola3 {
    border-left: 4px solid #009688;
}

.thumbnail.escola4 {
    border-left: 4px solid #FF9800;
}

.thumbnail.escola5 {
    border-left: 4px solid #0077ac;
}

.thumbnail.escola6 {
    border-left: 4px solid #ff579e;
    ;
}