/* ********************************* **
* DICA:
* No brackets o atalho Alt+1 "retrai"
* todas as classes, facilitando a visão de todas elas
** ********************************* **/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */
.section {
    padding: 6rem 0;
    text-align: center;
}
.titulo {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 6rem;
}
.sub-titulo {
    font-size: 1.7rem;
    font-weight: bold;
}
.extra-space {
    /* usado pra casos específicos onde se QUER aplicar um espaçamento padrao */
    margin-bottom: 6rem;
}
.no-space {
    /* usado pra casos específicos onde não se quer o espaçamento padrao */
    margin-bottom: 0;
}
p {
    font-size: 1.4rem;
}
a {
    color: #00b1ff;
    text-decoration: none;
}
a:hover {
    color: #52caff;
    text-decoration: underline;
}

/* Navbar Customização
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-custom {
    font-weight: bold;
}
.navbar-custom a {
    color: #ddd;
    text-decoration: none;
}
.navbar-custom a:hover {
    color: #fff;
}
.navbar-inverse {
    background-color: rgba(34,34,34,0.92);
    border-bottom: 0;
}
.navbar-brand {
    font-weight: normal;
    letter-spacing: 0;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.inicio img {
    margin: 0 auto;
    max-width: 157px;
    padding-top: 80px;
    width: 100%;
}
.inicio p {
    color: white;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 60px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}
/* esse é um estilo padrão usado pela API de parallax */
.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
    min-height: 30vh;
}

/* Sessao 1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sessao1 {
    background-color: #ebebeb;
    /*
    * coloque aqui coisas relacionadas
    * SOMENTE a essa sessão 
    */
}

/* Sessao 2
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sessao2 {
    background-color: #1a1a1a;
    color: #f8f8f8;
}

/* Sessao 3
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.sessao3 {
    background-color: #ebebeb;
}
.sessao3 i {
    font-size: 35pt;
    text-align: right;
}

/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    background-color: #1a1a1a;
    padding: 25px 0 10px 0;
}
footer p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
/* isso é só pra criar uma linha "divisoria" no footer */
footer .texto:first-child::after {
	background: #555;
	content: '';
	display: block;
	height: 1px;
	margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
	width: 200px;
}

/* Pace Loading (API DE LOADING)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    /* COR DA PARRA DE LOADING */
    background: #00b1ff;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}