/* ********************************* **
* DICA:
* No brackets o atalho Alt+1 "retrai"
* todas as classes, facilitando a visão de todas elas
** ********************************* **/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */

body {
    background-color: #ebebeb;
    font-size: 1.4em;
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
}

.titulo {
    font-size: 2.13em;   /*  3rem  */
    font-weight: bold;
    margin-bottom: 6rem;
    font-family: 'Bitter', serif;
    /*    text-transform: uppercase;*/
    font-variant: small-caps;
    /* -webkit-font-feature-settings: "smcp" 1;
    font-feature-settings: "smcp" 1; */
    letter-spacing: .3rem;
}

.sub-titulo {
    font-size: 1.22em;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.extra-space {
    /* usado pra casos específicos onde se QUER aplicar um espaçamento padrao */
    margin-bottom: 6rem;
}

.no-space {
    /* usado pra casos específicos onde não se quer o espaçamento padrao */
    margin-bottom: 0;
}

.special-no-space {
    /* usado pra casos específicos onde não se quer o espaçamento padrao */
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.special-mid-space {
    /* usado pra casos específicos onde se QUER aplicar um espaçamento padrao */
    margin-bottom: 3rem;
}

p {
    font-size: 1.21em;   /* 1.7rem */
    line-height: 2.95rem;
    font-family: 'Slabo 27px', serif;
    /* font-family: 'Zilla Slab', serif; */
}

a {
    color: #00b1ff;
    /* color: #e5ff00; */
    text-decoration: none;
}

a:hover {
    color: #52caff;
    /* color: #fcff52; */
    text-decoration: underline;
}

a.active.dropdown-toggle:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:focus div {
    outline: 25px auto -webkit-focus-ring-color;
    outline-offset: 2px;
}

/* Desktop Only */

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

/* Mobile Only */

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.nav-button {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.3) 0%,rgba(0,0,0,.5));
    background-image: linear-gradient(transparent,rgba(0,0,0,.3) 0%,rgba(0,0,0,.5));
    padding: .5em 1em;
    border: 1px solid rgba(0,0,0,.5);
}
.nav-button:hover {
    filter: alpha(opacity=90);
    background-image: -webkit-linear-gradient(transparent,rgba(200,200,200,.3) 40%,rgba(200,200,200,.5));
    background-image: linear-gradient(transparent,rgba(200,200,200,.3) 40%,rgba(200,200,200,.5));
    padding: .5em 1em;
    border: 1px solid rgba(0,0,0,.5);
}

.navbar-custom a {
    text-decoration: none;
}

#font-minus, #font-max {
    color: #BFBFBF;
}

.navbar-custom a:hover {
    color: #fff;
}

.navbar-inverse {
    background-color: rgb(34, 34, 34);
    border-bottom-color: rgb(34, 34, 34);
}

.navbar-brand {
    font-weight: normal;
    letter-spacing: 0;
}

.navbar-collapse {
    max-height: 100vh !important;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    width: 100%;
}

.mega-dropdown-menu .dropdown-header span {
    padding: 10px 0px !important;
    margin: 0;
    line-height: 2.5rem;
    font-size: 1.43em;
    font-weight: bold;
    font-family: 'Bitter', serif;
}

.mega-dropdown-menu .dropdown-header::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 4px;
    margin-right: 10px;
}

.mega-dropdown-menu > li > ul > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > ul > li:first-child {
    margin-top: 8px;
}

.mega-dropdown-menu > li > ul > li > ul > li > a {
    display: block;
    line-height: 3.5rem;
    font-size: 1.18em;
    white-space: normal;
}

.zoom .mega-dropdown-menu > li > ul > li > ul > li > a {
    font-size: 1.48em;
}

.mega-dropdown-menu > li > ul > li > ul > li > a::before {
    content: '';
    display: inline-block;
    height: 4px;
    width: 4px;
    margin-right: 10px;
    margin-bottom: .3rem;
}

.drop-escola {
    padding: 0;
    margin: 0;
}

.dia-nav {
    float: right;
    color: #727272 !important;
}

@media (min-width: 768px) {
    /* Desktop */
    .mega-dropdown-menu .dropdown-header::before {
        margin-left: 10px;
    }
    .mega-dropdown-menu > li > ul > li > ul > li > a {
        line-height: 3.5rem;
        color: #222;
        padding-left: 10px;
    }
    .mega-dropdown-menu > li > ul > li > ul > li > a::before {
        background-color: #222;
    }
    .mega-dropdown-menu > li > ul > li > ul > li:hover > a {
        color: #222;
        background-color: #eee;
    }
}

@media (max-width: 768px) {
    /* mobile */
    .mega-dropdown-menu > li > ul > li > ul > li > a {
        line-height: 4.5rem;
    }
    .mega-dropdown-menu > li > ul > li > ul > li > a::before {
        background-color: #333;
    }
    .nav-hide {
        display: none;
    }
    .mega-dropdown-menu .dropdown-header span {
        cursor: pointer;
    }
    .basic-menu > li > a {
        padding: 13px 19px 13px 25px !important;
    }
    .basic-menu > li > a:first-child {
        border-bottom: 1px solid #ddd;
    }
    navbar-custom a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
        border-bottom: 1px solid #080808;
    }
    navbar-custom a:last-child {
        border-bottom: none;
    }
}

@media (max-width: 991px) {
    .dia-nav {
        display: none;
    }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.inicio p {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
}

.inicio p:last-child {
    font-size: 1.14em;
}

.inicio p:first-child {
    font-size: 1.9em;
    letter-spacing: 3pt;
}

.inicio .title,
.inicio .subtitle {
    padding-bottom: 18px;
}

.inicio .subtitle {
    font-size: 1.43em !important;
    margin-top: -18px;
}

/* esse é um estilo padrão usado pela API de parallax */

.parallax-window {
    align-items: center;
    background: transparent;
    display: flex;
}

/* Breadcrumb
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb {
    background-color: transparent;
    border-bottom: 1px solid #ccc;
}
.breadcrumb li a {
    color: #36a7d9;
    /* color:#207e36; */
}
.breadcrumb .dropdown-toggle {
    color: #777;
}
.breadcrumb .dropdown-menu>li>a {
    padding: 10px 20px;
}

.zoom .breadcrumb .dropdown-menu>li>a {
    font-size: 1.8em;
}

/* Divisores
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.divisor {
    height: 1px;
    position: relative;
}
.text-divisor {
    position: absolute;
    top: -11px;
    left: 40px;
    padding: 0 10px;
    font-size: 1.12em;
    background-color: #ebebeb;
    width: auto;
    display: inline-block;
    border-left: 1px dotted;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
}

/* Escolas - PADRÕES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* .escolas {
    background-color: #ebebeb;
} */

.autor-destaque {
    margin: .5rem 0;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: #bfbfbf;
    display: table;
    width: 100%;
    height: calc(100% - 1rem);
}

@media (min-width: 992px) {
    /* usado para ajustar a altura do autor 
    em destaque de acordo com o conteudo, apenas
    quando estão lado a lado */
    .escolas-individual {
        display: flex;
    }
}

@media (max-width: 991px) {
    /* Cria um tamanho fixo para
    quando não está mais dividindo espaço
    com o conteudo */
    .autor-destaque {
        height: 300px;
        display: block;
    }
    .autor-descricao {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

.autor-descricao {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 2rem;
}

.autor-descricao:hover {
    text-decoration: underline;
}

.autor-descricao div {
    display: table;
    height: auto;
    margin: auto 0;
}

.autor-descricao > a {
    color: white;
}

.autor-titulo {
    position: relative;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
    /* -moz-font-feature-settings: "smcp" 1; */
    /* font-feature-settings: "smcp" 1; */
    font-size: 2.55em;
    margin-bottom: 20px;
}

.autor-titulo:after {
    content: '';
    position: absolute;
    left: 20%;
    bottom: -10px;
    width: 60%;
    height: 2px;
    background-color: #ededed;
}

.autor-texto {
    font-size: 1.33em;
}

.materia {
    margin: .5rem 0;
    padding: 1rem;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
    text-align: left;
}

.materia > a {
    color: #333;
}

.materia > a:hover {
    text-decoration: none;
}

.materia .titulo {
    margin: 1rem 0;
}

.materia-img {
    width: calc(20% - 1rem);
    margin-right: 1rem;
    min-width: calc(120px - 1rem);
    float: left;
    overflow: hidden;
}

.materia-img img {
    width: 100%;
}

a > .materia-img > img {
    transition: all .3s;
}

a:hover > .materia-img > img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

@media (min-width: 992px) {
    .materia.right {
        text-align: right;
    }
    .materia-img.right {
        min-width: calc(120px - 1rem);
        float: right;
        margin-right: 0;
        margin-left: 1rem;
    }
}

/* Escolas - EXCLUSIVOS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.divisor.escola1 {
    background-color: #ff0e0e;
    margin-top: 6rem;
}

.text-divisor.escola1 {
    color: #ff0e0e;
    border-color: #ff0e0e;
    background-color: #F1A8A8;
}

.escola1 .person {
    background-image: url('../img/home-materias/romantismo-autor-destaque.jpg');
}

.escola1 .materia-img {
    border-left: 4px solid #ff0e0e;
}

.escola1-navid::before {
    background-color: #ff0e0e;
}

.escola2 .person {
    background-image: url('../img/home-materias/realismo-autor-destaque.jpg');
}

.divisor.escola2 {
    background-color: #ffa557;
}

.text-divisor.escola2 {
    color: #ed8c37;
    border-color: #ffa557;
    background-color: #F1D6BE;
}

.escola2 .materia-img {
    border-left: 4px solid #ffa557;
}

.escola2-navid::before {
    background-color: #ffa557;
}

.escola3 .person {
    background-image: url('../img/home-materias/simbolismo-autor-destque.jpg');
}

.divisor.escola3 {
    background-color: #a100be;
}

.text-divisor.escola3 {
    color: #a100be;
    border-color: #a100be;
    background-color: #D5A4DD;
}

.escola3 .materia-img {
    border-left: 4px solid #a100be;
}

.escola3-navid::before {
    background-color: #a100be;
}

.escola4 .person {
    background-image: url('../img/home-materias/pre-modernismo-autor-destaque.JPG');
}

.divisor.escola4 {
    background-color: #6a4200;
}

.text-divisor.escola4 {
    color: #6a4200;
    border-color: #6a4200;
    background-color: #C4B8A4;
}

.escola4 .materia-img {
    border-left: 4px solid #6a4200;
}

.escola4-navid::before {
    background-color: #6a4200;
}

.escola5 .person {
    background-image: url('../img/home-materias/modernismo-autor-destaque.jpg');
}

.divisor.escola5 {
    background-color: #377c13;
}

.text-divisor.escola5 {
    color: #377c13;
    border-color: #377c13;
    background-color: rgba(199, 211, 119, 0.96);
}

.escola5 .materia-img {
    border-left: 4px solid #377c13;
}

.escola5-navid::before {
    background-color: #377c13;
}

.escola6 .person {
    background-image: url('../img/home-materias/pos-modernismo-autor-destaque.jpg');
}


.divisor.escola6 {
    background-color: #125fdb;
}

.text-divisor.escola6 {
    color: #125fdb;
    border-color: #125fdb;
    background-color: #A9C1E6;
}

.escola6 .materia-img {
    border-left: 4px solid #125fdb;
}

.escola6-navid::before {
    background-color: #125fdb;
}

/* Rodapé
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
    background-color: rgb(34, 34, 34);
    padding: 25px 0 10px 0;
}

footer p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.0em;   /* 1.4rem */
    color: #727272;
}

footer a {
    color: #9d9d9d;
    text-decoration: underline;
}

footer .footer-logo div {
    width: 60%;
    margin: auto;
}

footer .footer-escolas p,
footer .footer-sobre p {
    line-height: normal;
}

@media (max-width: 767px) {
    footer .footer-mapa {
        display: none;
    }
}

/* isso é só pra criar uma linha "divisoria" no footer */

footer .footer-mapa:first-child::after {
    background: #555;
    content: '';
    display: block;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    top: 15px;
    width: 300px;
}

/* Pace Loading (API DE LOADING)
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* This is a compiled file, you should be editing the file in the templates directory */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    /* COR DA PARRA DE LOADING */
    background: #00b1ff;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/*QuemSomos 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.QM p {
    text-align: left;
    /* font-family: 'Zilla Slab', serif; */
    line-height: 3rem;
    padding-bottom: 20px;
}

.QM.divisor {
    height: 1px;
    background-color: #696969;
    position: relative;
    bottom: 25px;
    margin-bottom: 3rem;
    width: 100%;
}

.QM.divisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    background-color: gray;
    width: 26%;
    bottom: 0.4rem;
    /* left: 0; */
    margin-top: 30px;
}

.QM.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.QM.noflex {
    flex: none;
}

.QM h2 {
    text-align: center;
    font-variant: small-caps;
}

.QM h2 small {
    font-size: 0.5em;
    color: #644040;
}

.QM.thumbnail {
    border-radius: 0px;
    text-align: center;
    padding: 3em 2rem 3em 2rem;
    /* padding-top: 6rem;
    padding-bottom: 6rem; */
}

.QM.thumbnail img {
    width: 50%;
    max-width: 100%;
}

.caption p {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    /* line-height: 3.75rem; */
}

/* .caption p:nth-child(2n) {
    padding: 0px;
    margin: 0px;
    color: gray;
    text-decoration: line-through;
} */

.QM.thumbnail h2 {
    font-size: 1.21em;
    font-weight: bold;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
}

.QM.thumbnail h2:after {
    content: "";
    display: block;
    margin: 0 auto;
    bottom: 6rem;
    height: 1px;
    background: #e4e4e4;
    width: 4em;
    left: 0;
    margin-top: 30px;
}

.QM.thumbnail h3:after {
    content: "";
    display: block;
    margin: 0 auto;
    bottom: 6rem;
    height: 1px;
    background: #dedede;
    width: 5em;
    left: 0;
    margin-top: 20px;
}

.QM.thumbnail.escola1 {
    border-left: 4px solid #ff0e0e;
}

.QM.thumbnail.escola2 {
    border-left: 4px solid #ffa557;
}

.QM.thumbnail.escola3 {
    border-left: 4px solid #a100be;
}

.QM.thumbnail.escola4 {
    border-left: 4px solid #6a4200;
}

.QM.thumbnail.escola5 {
    border-left: 4px solid #377c13;
}

.QM.thumbnail.escola6 {
    border-left: 4px solid #125fdb;
    ;
}

/*Academia 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.font p{
    font-size: 1.22em;
    line-height: 2.95rem;
    font-family: 'Slabo 27px', serif;
}


/*Contato 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.classecontato {
    margin-top: 34px;
}

/* Dicas de Vestibular 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dv-space {
    height: 6rem;
}
.dv-space.dv-recuo {
    margin-top: -6rem;
}
.dv-space:target+.dv-destaque {
    border-left: 8px solid rgba(48, 48, 48, 0.14);;
    padding-left: 20px;
}

/* Academeia de Letras  
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.AC.divisor {
    height: 1px;
    background-color: rgba(48, 48, 48, 0.14);
    position: relative;
    bottom: 15px;
    margin-bottom: 3rem;
    width: 100%;
}
.AC.divisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    background-color:gray ;
    width: 26%;
    bottom: 0.4rem;
    margin-top: 30px;
}

/* Formulário em em */
.form-control{
font-size: 1em !important; 
}
