.mp-mapa a {}

.mp-home {
    height: 30px;
    text-align: center;
}

.mp-escolasgeral {

    padding: 50px 0px 0px 0px;
    border-bottom-style: solid;
    border-bottom-color: #a9a9a9;
}

.mp-escola {
    padding: 0px 0px 0px 30px;
    height: 150px;
}

.mp-escola li {
    padding: 0px 0px 0px 0px;
    height: 30px;
    /*font-size: 0.6em;*/

}

.mp-link {
    text-decoration: underline;
    color: #3c3c3c;
}
.mp-link:hover {
    /*text-decoration: none; */   
    /*font-size: 1.2em;*/
}
.mp-linkac {
    text-decoration: underline;
    color: #3c3c3c;
}
.mp-separador {
    border-bottom-style: solid;
    border-bottom-color: blue;
}

.mp-agendaecontato {
    padding: 40px 0px 0px 35px;
   
    font-size: 1.2em;

}


.mp-institucional {
    padding: 0px 0px 0px 30px;
    height: 150px;
}

.mp-institucional li {
    padding: 20px 0px 0px 0px;
    height: 30px;
    font-size: 1em;
}

.titulo {
    margin-bottom: 3rem;
}