
.imgcenter {
    max-width: 100%;
}

hr{
    color:#8c6650;
}
/*---Contexto*/
.cor-contexto p {
    color:#5f4537;
        }
.cor-titulo-contexto {
    color:#765649;
}

/*---Autor destaque*/

.cor-autor-destaque {
    color:#56473e;
}



/*--- Principais obras*/
.cor-obras1{
    color:#715c56;
}

.cor-sub-principais-obras1{
    color:#a79083;
}

.cor-texto-obras1 {
    color:#7e655f
}

.lima {
    text-align: left;
}



.line:after {
    content: "";
    display: block;
    margin-top: 0.2em;
    height: 3px;
    background-color: rgba(202, 169, 150, 0.44);
    width: 5em;
}



.cor-sub-principais-obras3 {
    color:gray;
}
