/* Espaço para o CSS da escola Realista */

body {
    background-color: #ebebeb;
}

/* Cor e definição dos H's */

.titulo {
    color: #2f0f01;
}

.paddingh1 {
    margin-bottom: 40px;
    padding-left: 15px;
    text-align: center;
}

/*Definição H1 página 2*/

.parameio {
    font-size: 2.2em;
    margin-bottom: 40px;
    padding-left: 15px;
    text-align: center;
}

/*Parágrafo realismo */

.pararealismo {
    text-align: left;
}

.espacorealismo {
    padding-bottom: 0.8em;
}

/*Descrição da imagem do contexto histórico*/

.descricaoimg {
    margin-top: 6px;
    width: 100%;
}

.descricaoimg:hover {
    opacity: 0.8;
}

/*Ajuste da descrição da imagem do contexto histórico*/

#ajustecontexto {
    color: #2f0f01;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.paddingimg {
    padding: 0;
}



/*Imagem de Machado de Assis */

.descricaoimg2 {
    margin-top: 7px;
    padding-left: 0px;
    width: 50%
}

.descricaoimg2:hover {
    opacity: 0.8;
}

/*Sombra no aside página autor*/

.sombra {
    margin: .5rem 0;
    background-color: #ffd5a6;
    box-shadow: 0 0 5px rgba(230, 182, 129, 0.51));
}


/*Definição das imagens capa de obras página 2*/

.arrumarpimg {
    margin-top: 8px;
    padding-left: 0px;
    padding-right: 10px;
    width: 60%;

}

.arrumarpimg:hover {
    opacity: 0.8;
}

/* Letra captular início de parágrafo */

.capitular::first-letter {
    float: left;
    color: #2f0f01;
    font-weight: 600;
    font-size: 8em;
    line-height: 6rem;
    padding: 20px 10px 1px 0px;
}

/*Divisão de linha do H*/

.realismodivisor {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    position: relative;
    bottom: 15px;
    margin-bottom: 3rem;
    width: 100%;
}

.realismodivisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #ffd5a6;
    width: 26%;
    bottom: 0.4rem;
    margin-top: 30px;
}

/* H4 da página realismo no Brasil */
.h4realismobr {
    text-align: left;
    font-family: 'Zilla Slab', serif;
    font-weight: bold;
    line-height: 2em;
    color: #2f0f01;
}

/*Linha de H*/
.divisorrealismo {
    height: 1px;
    background-color: rgba(48, 48, 48, 0.14);
    position: relative;
    bottom: 15px;
    width: 50%;
}

Descktop

@media (min-width: 1200px) {
    .sombra {
        margin: .5rem 0;
        background-color: #ffd5a6;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.51));
    }
}

.memoriasimg {
    margin-top: 7px;
    padding-left: 0px;
    width: 50%;
}

memoriasimg:hover {
    opacity: 0.8;
}


/*Tablet

@media (max-width: 993px) {
    .sombra {
        margin: .5rem 0;
        background-color: #ebebeb;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.0));
    }
    .memoriasimg {
        width: 50%
    }


    .descricaoimg {
        width: 100%;
    }
    .descricaoimg:hover {
        opacity: 0.8;
    }
}

}


@media (min-width: 768px) {}


