/* Espaço para o CSS da escola Realista */
body {background-color: #ebebeb;}

.espacorealismo {
    padding-bottom: 0.8em;
}

.descricaoimg {
    width: 100%;
}

.paddingimg {
    padding: 0;
}

.paddingh1 {
    padding-left: 15px;
}

.pararealismo {
    text-align: left;
}

.descricaoimg2 {
    width: 50%
}

    .sombra {
        margin: .5rem 0;
        background-color: #ffd5a6;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.51));
    }

/*Parágrafo H1 página 2*/
.parameio {
    font-size:  2.2em;
    padding-left: 15px;
    text-align: left;}

/*Padding imagem*/
.arrumarpimg {
    padding-left: 0px;
padding-right: 0px;}

/* Linha nos Hs*/
.line:after{
  content: "";
  display: block;
  margin-top: 0.2em;
  height: 3px;
  background: #3333339f;
  width: 19em;
}
/*Classe do título dos Hs*/
.titulo {margin-bottom: 30px;}
.centro {text-align: center;}

/*Subir o article e aside da ´página realismo no Brasil*/
.subir {margin-bottom: 3rem;}


/*Descktop*/

@media (min-width: 1200px) 
{
    .sombra {
        margin: .5rem 0;
        background-color: #ffd5a6;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.51));
    }
}

#memoriasimg {
    width: 70%
}



/*Tablet*/

@media (max-width: 993px) {
    .sombra {
        margin: .5rem 0;
        background-color: #ebebeb;
        box-shadow: 0 0 5px rgba(230, 182, 129, 0.0));
    }
    #memoriasimg {
        width: 70%
    }

}

}


@media (min-width: 768px) {}