/* Espaço para o CSS da escola Realista */
.espacorealismo {
padding-bottom: 0.8em;
}

.descricaoimg {width: 100%;}

.paddingimg {padding:0;}

.paddingh1 {padding-left: 15px;}

.pararealismo {text-align: left;}

 .descricaoimg2 {width: 50% }



/*Descktop*/
@media (min-width: 1200px ) 
{
.sombra {
    margin: .5rem 0;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
}

    }
    #memoriasimg {width: 70%}
}
    
/*Tablet*/
@media (min-width: 992px ) 
     {
    .home {
    background-color: #FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 5px;
                box-shadow: 2px 2px 5px #000;      

}

}

@media (min-width: 768px)
{

}