.breadcrumb li a {
    color:darkred ! important;
 }

article p, aside p, section p {
    font-family: 'Zilla Slab', serif;
    line-height: 2em;
    font-weight: 500;
}

/*inicio autor destaque*/

.bloco-biografia {
    padding-top: 10px 0px 0px 0px;
}

.sub-titulo {
    padding-bottom: 10px;
    margin: 0px;

}

.img-autor {
    padding-left: 40px;
}

.tres-obras {
    padding: 0px 0px 15px 0px;
    margin: 0px;

}

.img-obra {
    float: left;
    padding: 0px 3px 0px 0px;
}

.bloco-p-obras {
    padding: 65px 0px 0px 0px;
    background-color: rgba(250, 250, 159, 0.65);
}

/*inicio contexto historico*/

.titulo2 {
    text-align: center;
    font-size: 8em;
}

.titulo-ch {
    text-align: left;
}

.sitacao {
    padding: 10px 200px 10px 200px;
    text-align: left;
}

.img-c-hist {
    /*   width: 100%;*/
    float: left;
    padding-top: 20px;
    padding-right: 10px;
}

.titulo-c-brasil {
    text-align: left;
    padding-top: 40px;
}

/* .r-no-brasil {} */

@media (max-width: 767px) {
    .titulo-c-brasil {
        text-align: left;
        padding-top: 280px;
    }
    .sitacao {
        padding: 10px 50px 10px 50px;
    }
    .titulo-c-europa {
        text-align: left;
        padding-top: 20px;
    }
    .img-c-hist {
        max-width: 350px;
    }
    .titulo-obra {
        padding: 80px 0px 100px 140px;

    }
    .titulo-obra-direita {
       padding: 80px 130px 100px 0px;
       
    }

   

 }

@media (min-width: 768px) and  (max-width: 992px) {
    .sitacao {
        padding: 10px 50px 10px 50px;
    }
    .titulo-c-europa {
        text-align: left;
        padding-top: 20px;
    }

  .titulo-obra-direita {
    text-align: right;
}

.txt-obra-direita {
    text-align: right;
    padding-right: 120px;
}

.sitacao-obra-direita {
    text-align: right;
    padding-right: 120px;
}  

}
@media (min-width: 993px){
.txt-obra-direita {
    text-align: left;
    padding-left: 100px;
}

.sitacao-obra-direita {
    text-align: left;
        padding-left: 100px;

}
}
/*inicio principais obras*/
.principais-obras{
 margin: 0px;
    padding: 0px;
}
.titulo-pag-obra {
    padding-bottom: 40px;
}

.obra-esquerda {
    padding-bottom: 40px;
}

.img-obra-esquerda1 {
    background-image: url(../img/romantismo/oguarani2.png);
    width: 120px;
    height: 185px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.img-obra-esquerda2 {
    background-image: url(../img/romantismo/escravaisaura.png);
    width: 120px;
    height: 185px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    padding-bottom: 0px;
    padding-right: 0px;
}

.titulo-obra {
    text-align: left;
}

.txt-obra {
    text-align: left;
}

.sitacao-obra {
    text-align: left;
}

/*obra a direita*/

.obra-direita {
    padding-bottom: 40px;
}

.img-obra-direita1 {
    background-image: url(../img/romantismo/memorias.png);
    width: 120px;
    height: 185px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.img-obra-direita2 {
    background-image: url(../img/romantismo/ostimbiras.png);
    width: 120px;
    height: 185px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: right;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}


.titulo-obra-direita {
    text-align: right;
}

.txt-obra-direita {
    text-align: left;
   
}

.sitacao-obra-direita {
    text-align: left;
        

}

.line:after {
    content: "";
    display: block;
    margin-top: 0.2em;
    height: 3px;
    /*    background-color: rgba(51, 51, 51, 0.14);*/
    background-color:darkred;
    width: 5em;
}




.line-center:after {
    content: "";
    display: block;
    margin-top: 0.2em;
    margin: auto;   
    height: 3px;
    /*    background-color: rgba(51, 51, 51, 0.14);*/
    background-color:darkred;
    width: 5em;
}




.line-right::after {
    content: "";
    position: relative;
    display: block;
    margin-top: 0.2em;
   
    margin-right: 46em;
    height: 3px;
    /*    background-color: rgba(51, 51, 51, 0.14);*/
    background-color:darkred;
    width: 5em;

}



@media (max-width: 766px) 
{
    .line-center:after {
        content: "";
        display: block;
         margin:0px;   
        margin-top: 0.2em;     
    }

}

