.titulo {
  margin-bottom: 3rem;
}

hr{
  height:1px;
  background-color:#696969;
  width: 90%;
}

aside p {
  font-family: 'Sriracha', cursive;
}

article p{
  text-align: left;
  font-family: 'Zilla Slab', serif;
  line-height: 2em;
}
/*
@media (min-width: 534px) {
  .centro 
  {
    width: 250%;
  margin: 0 auto;
}
}
*/


/*booo*/

.line:after{
  content: "";
  display: block;
  margin-top: 0.2em;
  height: 3px;
  background: #3333339f;
  width: 5em;
}