html,body {
    max-width: 100%;
    overflow-x: hidden;
}
.titulo {
    margin-bottom: 3rem;
}

hr {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    width: 90%;
}

.SI.divisor {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    position: relative;
    bottom: 15px;
    margin-bottom: 3rem;
    width: 100%;
}

.SI.divisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    background-color: #b598ab ;
    width: 26%;
    bottom: 0.4rem;
    /* left: 0; */
    margin-top: 30px;
}

.img {
    max-width: 100%;
    /* width: 43px; */
}

.lateral {
    padding-right: 0.9em;
    padding-left: 0.9em;
    margin-right: auto;
    margin-left: auto;
}

.cor {
    color:#5b4961;
}



aside p {
    font-family: 'Zilla Slab', serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color:#604134;  
}

article p {
    text-align: left;
    font-family: 'Zilla Slab', serif;
    line-height: 2em;
    color:#604134;  
}

article p:first-of-type:first-letter {
    float: left;
    color: #5b4961;
    font-weight: 600;
    font-size: 8em;
    line-height: 6rem;
    padding: 20px 10px 1px 0px;
}

/*booo*/

.line:after {
    content: "";
    display: block;
    margin-top: 0.2em;
    height: 3px;
    background-color: rgba(51, 51, 51, 0.14);
    width: 5em;
}