.titulo {
    margin-bottom: 3rem;
}

hr {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    width: 90%;
}

.SI.divisor {
    height: 1px;
    background-color: rgba(51, 51, 51, 0.14);
    position: relative;
    bottom: 15px;
    margin-bottom: 3rem;
    width: 100%;
}

.SI.divisor::after {
    content: "";
    display: block;
    position: relative;
    margin: 0 auto;
    height: 0.5rem;
    /*    background-color: #b598ab;*/
    background-color: #af89bc;
    width: 26%;
    bottom: 0.4rem;
    /* left: 0; */
    margin-top: 30px;
}

.imgcenter {
    /*    max-width: 100%;*/
    width: 100%;
    object-fit: scale-down;
}


.lateral {
    padding-right: 0.9em;
    padding-left: 0.9em;
    margin-right: auto;
    margin-left: auto;
}

.cor {
    /*    color: #5b4961;*/
    color: #4c2d57;
    /*    color: #432b8e;*/
}


h3 small {
    font-family: 'Bitter', serif;
    color: #796780;
}


small {
    font-family: 'Zilla Slab', serif;
    color: #604134;
}

aside p {
    font-family: 'Zilla Slab', serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
    color: #604134;
}

article p {
    text-align: left;
    font-family: 'Zilla Slab', serif;
    line-height: 2em;
    font-weight: 500;
    /*    color: #604134;*/
    color: #5a514d;
}

.font {
    font-family: 'Zilla Slab', serif;
}

/* article p:first-of-type:first-letter {
    float: left;
    color: #5b4961;
    font-weight: 600;
    font-size: 8em;
    line-height: 6rem;
    padding: 20px 10px 1px 0px;
} */

.capitular::first-letter {
    float: left;
    /*    color: #5b4961;*/
    color: #4c2d57;
    font-weight: 600;
    font-size: 8em;
    line-height: 6rem;
    padding: 20px 10px 1px 0px;
}


.line:after {
    content: "";
    display: block;
    margin-top: 0.2em;
    height: 3px;
    /*    background-color: rgba(51, 51, 51, 0.14);*/
    background-color: rgba(67, 43, 142, 0.22);
    width: 5em;
}


.pace .pace-progress {
    /* COR DA PARRA DE LOADING */
    background: #654bd7;
    height: 2px;
    position: fixed;
    right: 100%;
    top: 0;
    width: 100%;
    z-index: 2000;
}


@media (max-width:766px) {
    .img {
        max-width: 100%;
    }
}




@media (min-width:992px) {
    .lineVertical-left {

        border-left: 3px solid rgba(51, 51, 51, 0.14);
        margin-left: -32px;
        padding-left: 20px;
        height: 100%;

    }
}


@media (min-width:992px) {
    .lineVertical-right {

        border-right: 3px solid rgba(51, 51, 51, 0.14);
        padding-right: 20px;
        height: 100%;

    }
}
