/* ********************************* **
* DICA:
* No brackets o atalho Alt+1 "retrai"
* todas as classes, facilitando a visão de todas elas
** ********************************* **/

/* Padrões
–––-–––––––––––––––––––––––––––––––––––––––––––––– */
.section { padding: 6rem 0; }
.no-space { margin-bottom: 0; }
.header { height: 25vh; }
.corpo  { min-height: 65vh; }
.footer { height: 10vh; }
.materia .titulo { margin: 1rem 0; }
.materia-img img { width: 100%; }
input { 
    width: 100%;
    max-width: 100px;
    background-color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.5);
}

.titulo {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 6rem;
    font-family: 'Bitter', serif;
    font-variant: small-caps;
    letter-spacing: .3rem;
}
.materia {
    margin: .5rem 0;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(185, 185, 185, 0.8);
    text-align: left;
}
.materia-img {
    width: 20%;
    padding-right: 1rem;
    min-width: 120px;
    float: left !important;
    display: inline-block;
}

/* Cores
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar-inverse { background-color: #222222; }
.header         { background-color: #e8e5c9; }
.corpo          { background-color: #ebebeb; }
.materia        { background-color: #f3f3f3; }
.footer         { background-color: #1a1a1a; }

.escola1 { border-left: 4px solid #0EBEFF; }
.escola2 { border-left: 4px solid #ff579e; }
.escola3 { border-left: 4px solid #009688; }
.escola4 { border-left: 4px solid #FF9800; }
.escola5 { border-left: 4px solid #0077ac; }
.escola6 { border-left: 4px solid #db123a; }